<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>cloudraider.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="unit-test" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>


    log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
    log4j:WARN No appenders could be found for logger ().

</configuration>
